body {
	--color-hue: 200;
	--color-lum: 30%;

	--color-text: hsl(var(--color-hue), 100%, 10%);
	--color-text-secondary: hsl(var(--color-hue), 50%, 40%);

	--color-chrome: hsla(var(--color-hue), 50%, 75%, 75%);
	--color-chrome-background: hsla(var(--color-hue), 50%, 75%, 5%);
	--color-chrome-selected: hsla(var(--color-hue), 50%, 75%, 25%);
	--entry-vertical-content-spacing: 20px;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	color: var(--color-text);
}

.text--secondary {
	color: var(--color-text-secondary);
}

.post-detail__nav-bar {
	padding: 8px;
	border-bottom: 1px solid var(--color-chrome);
	display: flex;
	justify-content: space-between;
}

.control_button {
	border-radius: 2px;
	padding: 8px 16px;
	border-radius: 32px;
	background-size: cover;
	text-decoration: none;
	font-weight: 400;
	border: 1px solid hsla(var(--color-hue),100%,var(--color-lum),40%);
	background: radial-gradient(hsla(var(--color-hue),100%,var(--color-lum),10%), hsla(var(--color-hue),100%,var(--color-lum),35%));
	color: hsla(var(--color-hue),100%,var(--color-lum),80%);
	transition: color 200ms;
}

.control_button:hover {
	background: radial-gradient(hsla(var(--color-hue),100%,var(--color-lum),75%), hsla(var(--color-hue),100%,var(--color-lum),50%));
	color: hsla(var(--color-hue),100%,100%,100%);
	text-shadow: 0 0 20px hsla(var(--color-hue),100%,0%,75%);
}

.post-detail {
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
	overflow: hidden;
}

.post-detail__header {
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-bottom: 0;
	line-height: 1.5;
}

.post-detail__header::after {
	content: '';
	margin-top: 20px;
	border-bottom: 1px solid var(--color-chrome);
}

.post-detail__title {
	font-size: 1.25em;
	font-weight: 100;
}

.post-detail__meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.post-detail__content {
	color: #222;
	flex: 1;
	max-width: 100%;
	overflow: auto;
	box-sizing: border-box;
	line-height: 1.75rem;
}

.post-detail__sanitized_content {
	padding: 0 36px;
	margin: 20px 0;
}

.post-detail__sanitized_content pre {
	max-width: 100%;
	overflow: auto;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 8px;
}

.post-list-item {
	padding: 16px;
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	justify-content: space-between;
	line-height: 1.25;
	transition: background 200ms 100ms, color 200ms 100ms;
	cursor: default;
}

.post-list-item.is-selected {
	transition: background 0;
	background: hsla(var(--color-hue), 50%, 50%, 25%);
	color: #fff;
}

.post-list-item__publish-date, .post-detail__meta-publish-date {
	white-space: nowrap;
	align-self: top;
	font-weight: 200;
}

.post-list-item__feed {
	font-size: 0.875rem;
	opacity: 0.7;
}

.post-detail img {
	max-width: 100%;
}

#search-field {
	display: flex;
	padding: 8px;
	align-items: stretch;
}

#search-field input {
	flex: 1;
	margin: 0;
	border: 1px solid hsla(var(--color-hue),50%,var(--color-lum),40%);
	border-right: none;
	border-radius: 32px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 14px;
	padding-left: 12px;
	outline: none;
	background: hsla(var(--color-hue),50%,var(--color-lum),5%);
}

#search-field input:focus {
	background: hsla(var(--color-hue),50%,100%,10%);
	border: 1px solid hsla(var(--color-hue),50%,var(--color-lum),40%);
	box-shadow: inset 3px -3px 12px hsla(var(--color-hue),50%,var(--color-lum),25%);
}

#search-field button {
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 10px;
	font-weight: 800;
	font-size: 14px;
}

#status {
	color: var(--color-text-secondary);
	font-size: 0.75rem;
	padding: 8px 4px;
	border-top: 1px solid var(--color-chrome);
	display: flex;
	justify-content: center;
}

.status-info {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 200px;
}

.post-detail {
	overflow-wrap: break-word;
}

#source ul {
	margin: 0;
}

.feed-list {
	flex: 1;
	overflow: auto;
}

.feed-list-item__separator {
	height: 16px;
	padding: 0 8px;
}

.feed-list-item__separator:after {
	display: block;
	position: relative;
	border-bottom: 1px solid var(--color-chrome);
	top: 50%;
}

.feed-list-item__separator:first-child {
	padding: 0;
}

.feed-list-item.all-feeds {

}

.feed-list-item {
	cursor: default;
	padding: 8px 16px;
}

.feed-list-item.is-selected {
	background: var(--color-chrome-selected);
}

.dropdown {
	display: flex;
	flex-direction: column;
}

.dropdown-control {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	cursor: default;
}

.dropdown-target {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--color-chrome);
	border-radius: 18px;
}

.dropdown-label {
	padding: 8px 16px;
}

.dropdown-disclosure {
	font-size: 24px;
	line-height: 1rem;
	padding: 8px 16px 8px 8px;
}

@media screen and (min-width: 640px) {

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

#app {
	display: flex;
	flex: 1;
	overflow: hidden;
	max-height: 100vh;
}

#source {
	min-width: 200px;
	border-right: 1px solid var(--color-chrome);
	background: var(--color-chrome-background);
	overflow: scroll;
	display: flex;
	flex-direction: column;
}

#search {
	display: flex;
	flex-direction: column;
}

#search-results {
	flex: 1 0;
	overflow: auto;
}

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#posts-notice {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: var(--color-text);
	font-weight: 400;
}

#post-list {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.post-list-item__title {
	margin-right: 16px;
}

#search-field {
	flex: 0 0 auto;
}

}

@media screen and (max-width: 640px) {
body.app-mode-detail {
	overflow: hidden;
}

body {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#app {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100%;
}

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#posts-notice {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;;
}

#source {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: white;
	z-index: 75;
}

#source:after {
	pointer-events: none;
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	top: 100%;
	height: 15px;
	border-top: 1px solid var(--color-chrome);
	background: linear-gradient(hsla(0,0%,100%,100%), hsla(0,0%,100%,0%));
}

#search-field input {
	font-size: 16px;
}

#post-list {
	position: relative;
	z-index: 50;
}

.post-list-item {
	padding: 8px 16px;
	flex-direction: column;
}

.post-detail {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

#status {
	display: none;
}

}